@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap);

* {
  box-sizing: border-box;
}

html {
  background-color: #0C0C0C;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'IBM Plex Serif', serif;
}

/*Home View with Background*/
.home-background {
  height: 100%;
  background: linear-gradient(rgba(12, 12, 12, 0.99),rgba(12, 12, 12, 0.3)), 
      url("/images/sunset.jpg") no-repeat fixed center;
  color: #fcfafc;
  background-size: cover;
}

/*Gallery page home view with Background*/
.gallery-background {
  height: 60%;
  background-color:#0C0C0C;
  color: #fcfafc;
}

/*Sections*/
section {
  height: auto;
  padding:100px 100px;
}

@media screen and (max-width: 1300px) {
  section {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 800px) {
  section {
    padding: 100px 25px;
  }
}

section.dark {
  background-color:#0C0C0C;
  color: #fcfafc;
}

section.light {
  background-color: #fcfafc;
  color: #0C0C0C;
}

section.blue {
  background-color: #c7e8ff;
  color: #0C0C0C;
}

/*Containers*/
.container {
  position: relative;
  margin: 50px 100px;
  text-align:center
}

@media screen and (max-width: 1400px) {
  .container {
    margin: 50px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    margin: 50px 25px;
  }
}

/*Text Wrappers*/
.absolute-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.gallery-title {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.wrapper {
  margin: 0px auto; 
  padding: 25px 10px 10px;
}

.bio {
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  text-align: left;
  max-width: 860px; 
}

.profile {
  max-width: 1300px;
  text-align: left;
  margin-bottom: 100px;
}

.projects, .to-dos {
  max-width: 1500px;
  display: flex; 
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-flow: row wrap;
}

.intro {
  margin: auto;
  padding-left: 20px;
}

#fact-container, .response-container{
  height: 20px;
  margin-top: 20px;
  color: inherit;
  text-align: center;
}

.to-do-container {
  margin: 0 auto;
  width: 100%;
}

.to-do-container p {
  margin: 30px;
}

.to-do-container h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

/*Cards*/
.recommendation {
  background-color:#dae8f9;
  color: #0c0c0c;
  padding: 10px 0px;
  border-radius: 1px;
  width: 100%;
  margin: 10px auto;
  max-width: 450px;
}

.recommendation .content{
  font-size: 16px;
  font-weight: 600;
  padding: 5px 20px;
  text-align: center;
}

.recommendation .comment {
  text-align: left;
  font-size: 14px;
  padding: 5px 20px 10px;
}

.recommendation .footer{
  border-top: 2px solid rgba(189, 189, 189, 0.39);
  font-size: 14px;
  padding: 10px 20px 0px;
  text-align: left;
}

.profile-card {
  border-radius: 8px;
  background-color:rgb(41, 41, 41);
  box-shadow: 0 5px 16px rgba(175, 172, 172, 0.3);
  transition: .4s;
  padding: 10px 20px;
  width: 100%;
}

.profile-card:hover {
  transform: translateY(-.2%);
  box-shadow: 0 5px 18px rgba(175, 172, 172, 0.4);
}

.card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  transition: .2s;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  max-width: 450px;
}

.card:hover {
  transform: translateY(-.5%);
  box-shadow: 0 7px 18px rgba(0,0,0,.4);
}

.card img {
  display: block;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card .description {
  padding: 5px 5px 25px; 
  text-align: left;
  position: relative; 
}

.card h4 {
  font-weight: 600;
  margin: 15px 0 2px;
  transition: .4s;
  color: #0c0c0c;
  
}

.card h4 a{
  text-decoration: none;
  color: inherit;
}

.card h4 a:hover{
  color: #a7d7fa;
}

/*Buttons*/
.card .skills-container {
  bottom: 20px;
  position: absolute;
}

.card .skill {
  display: block;
  padding: 3px 6px;
  margin: 5px;
  font-size: 15px;
  text-align: center;
  color:#0C0C0C;
  background-color: #c7e8ff;
  border-radius: 10px;
  border: 2px ;
  box-shadow: 0 2px 3px rgba(0,0,0,.3);
  transition: .1s;  
  float: left;
}

.card .skill:hover {
  cursor: default;
  background-color: #c7e8ff;
  border: none;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

button {
  display: block;
  padding: 6px 8px;
  margin: 35px auto 5px;
  font-size: 16px;
  font: inherit;
  text-align: center;
  background-color: #c7e8ff;
  color: #0C0C0C;
  border-radius: 13px;
  transition: .1s;
  border: 2px solid transparent;
}

button:hover { 
  cursor: pointer;
  background-color: #0c0c0c;
  color: inherit;
  border: 2px solid #c7e8ff;
}

#to-do button {
  padding: 10px 13px;
  margin: 15px auto;
  font: 20px inherit;
  border-radius: 15px;
}
  
#recommendation-form button {
  margin: auto;
  text-align: center;
  border-radius: 8px;
  width: 100%;
}

  
/*Image Class*/
.pro-pic {
  height: 175px;
  border:2px solid aliceblue;
  border-radius:50%;
  margin: 10px;
}

.gallery img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  transition: .4s;
}

.gallery img:hover {
  transform: translateY(-.8%);
  box-shadow: 0 4px 10px rgba(0,0,0,.6);
}

/*Columns*/
.row {
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-wrap: wrap;
  -webkit-box-flex-wrap: wrap;   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex-wrap: 25%;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex-wrap: 25%;           /* IE 10 */
}

.column {
  padding: 20px;
}

.gallery {
  padding: 10px;
}

.column.quarter {
  flex: 25%;
  -webkit-box-flex: 25%;   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 25%;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 25%;           /* IE 10 */
  width: 25%;
}

.column.half {
  flex: 50%;
  -webkit-box-flex: 50%;   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: 50%;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 50%;           /* IE 10 */
  width: 50%;
}

.column.third {
  flex: calc(100%/3);
  -webkit-box-flex: calc(100%/3);   /* OLD - iOS 6-, Safari 3.1-6 */
  -webkit-flex: calc(100%/3);       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: calc(100%/3);           /* IE 10 */  
  width: calc(100%/3);
  display: flex; /*so elements within are same height*/
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
}

.row:after {
  content: "";
  display: table;
}


@media screen and (max-width: 700px) {
  .column.half {
    flex: 100%;
    -webkit-box-flex: 100%;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 100%;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 100%;           /* IE 10 */
    max-width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .column.third {
    flex: 100%;
    -webkit-box-flex: 100%;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 100%;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 100%;           /* IE 10 */
    max-width: 100%;
  }
}

@media screen and (max-width: 1210px) {
  .column.quarter {
    flex: 100%;
    -webkit-box-flex: 100%;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 100%;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 100%;           /* IE 10 */
    max-width: 50%;
  }
}

@media screen and (max-width: 680px) {
  .column.quarter {
    flex: 100%;
    -webkit-box-flex: 100%;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: 100%;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: 100%;           /* IE 10 */
    max-width: 100%;
  }
}
/*Navigation Bar*/
#nav{
  background: rgba(12, 12, 12, 0.719);
  z-index: 9999;
  padding: 8px 15px 0px;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#nav li {
  float: right;
}

#nav li a {
  color: #fcfafc;
  display: block;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

#nav li a:hover {
  color: rgb(197, 197, 197);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/*TIMELINE CSS (taken from W3School Tutorial and edited)*/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 70px auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  text-align: left;
  transition: .4s;
}

.timeline-container:hover {
  transform: translateY(-1%);
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.timeline-container.left {
  left: 0;
}

/* Place the container to the right */
.timeline-container.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline-container.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.timeline-container.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline-container.right::after {
  left: -16px;
} 

/* The actual content */
.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  color: #474e5d
}

.timeline-content:hover {
  color: #000
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .timeline-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0;
  }
}

/*Form*/
#recommendation-form, #datastore-form {
  background: inherit;
  margin: 30px auto;
  max-width: 500px;
  position: relative;
  border: 2px solid #c7e8ff;
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
  display: none;
}

form input, select, textarea {
  width: 100%;
  padding: 15px;
  margin: 20px auto 5px;
  border: none;
  border-radius: 8px;
  background-color: #fcfafc;
  font: inherit;
  font-size: 15px;
  font-weight: 700;
}

.inline-select {
  font-size: 12px;
  width: auto;
  margin: 0 5px 30px;
  padding: 2px 10px;
  border-radius: 3px;
  font-weight: 300;
}

/*To-do list*/
#to-do ul {
  margin: auto;
  text-align: left;
}

/*Text Appearances*/
.blue-text {
  color: #c7e8ff;
}

.turquoise-text {
  color: #4f8eb9
}

.grey-text {
  color: rgb(211, 211, 211)
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
  margin: 10px 5px;
}

.slim {
  margin: 3px;
}

.hidden {
  visibility: hidden;
}
