* {
  box-sizing: border-box;
}

body, html {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0;

}

/*Home View with Background*/
header {
  height: 100%;
  background-color:rgb(50, 51, 53);
  color: aliceblue;
  background: url("/images/sunset.jpg") no-repeat fixed center;
  background-size: cover;
}

/*Sections*/
.dark {
  height: auto;
  background-color:rgb(50, 51, 53);
  color: aliceblue;
  padding:100px 100px;
}

.light {
  height: auto;
  background-color:rgb(230, 236, 248);
  color: rgb(43, 46, 48);
  padding: 100px 100px
}

/*Containers*/
.container {
  position: relative;
  margin: 100px 100px;
  text-align:center
}

/*Text Wrappers*/
.abs-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -ms-transform: translate(-45%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper {
  margin-right: auto; 
  margin-left:  auto; 
  max-width: 960px; 
  padding-right: 10px; 
  padding-left:  10px; 
}

#fact-container {
  margin-top: 20px;
}

/*Navigation Bar*/
nav {
  padding-right: 3em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  color: azure;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

nav li a:hover {
  color: rgb(199, 238, 238);
}

/*TIMELINE CSS (taken from W3School Tutorial and edited)*/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.tl-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.tl-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
} 

/* The actual content */
.tl-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  color: #474e5d
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .tl-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .tl-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/*Text Appearances*/
h1 { 
  font-size: 200px;
  margin: auto;
}

h2 {
  font-size: 50px;
  margin: auto
}

p {
  font-size: 25px;
}